<article
  *ngFor="let chat of chats"
  class="w-full flex border-b-2 border-gray-400"
  style="height: 72px; padding: 10px;"
  (click)="onActivateChat(chat._id)"
>
  <wc-thumbnail [url]="chat?.contact?.thumbnail || null"></wc-thumbnail>
  <div style="width: 230px;" class="pl-4">
    <h2 class="text-base font-bold truncate">
      {{ chat?.contact?.username }}
    </h2>
    <p class="text-sm text-gray-700 truncate">{{ chat?.lastMessage?.body }}</p>
  </div>
  <span class="text-xs text-gray-600 text-right" style="width: 100px;">
    {{ chat?.lastMessage?.date | date: 'MM/dd/yyyy' }}
  </span>
</article>
