<div class="h-full">
  <div
    class="px-4 border-gray-400 border-b-2 bg-teal-200"
    style="height: 600px; overflow-y: auto;"
  >
    <div
      *ngFor="let message of chat?.messages; let last = last"
      class="w-full flex justify-start"
      [ngClass]="{
        'justify-start': message.authorId !== currentUserId,
        'justify-end': message.authorId === currentUserId
      }"
    >
      <div
        class="p-2 inline-block shadow-lg mt-4 rounded-md"
        [ngClass]="{
          'bg-white': message.authorId !== currentUserId,
          'bg-green-400': message.authorId === currentUserId,
          'mb-4': last
        }"
        style="min-width: 80px; max-width: 400px;"
      >
        <p>
          {{ message.body }}
        </p>
        <p class="text-xs text-right text-gray-600">
          {{ message.date | date: 'HH:MM' }}
        </p>
      </div>
    </div>
  </div>
  <form
    style="height: 60px;"
    [formGroup]="chatGroup"
    (ngSubmit)="onSendMessage(chat?._id)"
  >
    <input
      class="h-full w-10/12 px-4"
      type="text"
      placeholder="Write a message here"
      formControlName="body"
    />
    <button class="h-full w-1/6" type="submit">Send</button>
  </form>
</div>
